.chip {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px 9px;
  border: 1px solid;
  border-radius: 9999px;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
