.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-block: 12px;
  border-radius: 4px;
  overflow: hidden;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  padding-inline: 20px;
}

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;
}

.circles {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-shrink: 0;
  width: 100%;
  padding-inline: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  flex-shrink: 0;
  width: 100%;
}
